@import '/src/assets/components/main_style/variables.scss';
.theme-container {
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

    background: linear-gradient(145deg, #23282c, #1e2125);
    box-shadow: 17px 17px 23px #1a1d20,
      -17px -17px 23px #282d32, inset 5px 5px 4px #1e2226,
      inset -5px -5px 4px #24282c;

      animation: animate_pulse 1.5s infinite;
      &:hover {
        opacity: 0.8;
        animation: none;
      }

  }
  

  
  @keyframes animate_pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(228, 25, 49, 0.4);
    }
    70% {
      box-shadow: 0 0 0 10px rgba(228, 25, 49, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
    }
  }
  
