@import '/src/assets/components/main_style/mixins.scss';
@import '/src/assets/components/main_style/variables.scss';

.footer-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include phone-xs{
    max-width: 100%;
  }

  &__content{
    display: flex;
    flex-direction: column;
    gap: 15px;


  }
  &__title{
    @include title;

    @include phone-xs{
text-align: center;
    }
  }
  &__email{

    display: flex;
    gap: 10px;
  }
  &__input{
    width: 270px;
    @include input;

    @include desktop{
     width: 90%;
  }
  @include tablet{
    width: 100%
      }

  }
  &__input-dark{
    @include input-dark;
  }
  &__btn{
    @include btn;
  }
}
