@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Ubuntu:wght@500;700&display=swap');

// Font-family
$ubuntu:'Ubuntu', sans-serif;
$raleway:'Raleway', sans-serif;

// colors
$white:#FFFFFF;
$black: #000000;
$grey-dark: #2F2F2F;
$grey-light:#797979;
$header-bg:#0000004D;


$red-color:#DB2222;
$social-blue: #55ACE3;


$background-color-dark: #292A32;
$background-color-light: #FBFAF8;
$complimentary-color-dark: #393B43;
$complimentary-color-light: #FEFFFF;







