@import '../../main_style/mixins.scss';

.burger-menu {
    opacity: 0;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 12;
    transition: opacity 0.7s linear;

    @include tablet {
        opacity: 1;
    }
}

.burger {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: red;
    transform-origin: 1px;
    transition: all 0.3s linear;


}